@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  scroll-behavior: smooth !important;
}
.container {
  max-width: 100rem;
  margin: auto;
  z-index: -1;
}
.pointerEvent {
  pointer-events: none;
  overflow-y: hidden;
}
/* navbar css start */
.nav-container {
  position: relative;
}
.nav-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 23px 0;
}
.nav-box a {
  color: black;
}
.nav-links-list {
  display: flex;
  gap: 23px;
  font-size: 16px;
  font-weight: 500;
}

.nav-links-list li a {
  transition: 0.4s;
}
.nav-links-list li a:hover {
  color: #ff4d30;
}
@media (max-width: 1000px) {
  .nav-links-list {
    display: none;
  }
  .sign-in a {
    display: none;
  }
}
.menu button {
  background-color: transparent;
  border: none;
}
.turn-orange-menu {
  color: #ff4d30;
}
.logo img {
  width: 150px;
  object-fit: cover;
}
.sign-in {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}
.sign-in > a {
  transition: 0.4s;
}
.sign-in > a:hover {
  color: #ff4d30;
}
.orange-btn {
  background-color: #ff4d30;
  padding: 15px 30px;
  color: white !important;
  border-radius: 5px;
}
.orange-btn:hover {
  box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
}
.menu-box {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99999;
}
.menu-box .close-icon {
  text-align: right;
}
.menu-box .close-icon > button {
  width: 10%;
  background: transparent;
  margin: 25px 10px;
  cursor: pointer;
  border: none;
}
.menu-box .menu-links-list {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}
.menu-box .menu-links-list li a {
  color: black;
  transition: 0.4s;
}
.menu-box .menu-links-list li a:hover {
  color: #ff4d30;
}

/* navbar css end */

/* home-header css start */

.home-header-container {
  padding-top: 50px;
  padding-bottom: 125px;
  background-color: #f8f8f8;
}
.home-header {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-header .header-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.home-header .header-info h3 {
  font-size: 23px;
}
.home-header .header-info h2 {
  font-size: 50px;
  font-weight: 700;
}
.home-header .header-info p {
  font-weight: 400;
  opacity: 0.6;
  line-height: 24px;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .header-img {
    display: none;
  }
  .header-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 !important;
    margin: auto;
  }
}
@media (max-width: 450px) {
  .header-btns {
    flex-direction: column;
    width: 80%;
  }
}
.home-header .header-info h2 span {
  color: #ff4d30;
}
.header-btns {
  display: flex;
  gap: 15px;
}
.header-btns button {
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: white;
  font-size: 17px;
  font-weight: 700;
}
.header-btns .header-orange-btn {
  background-color: #ff4d30;
  transition: 0.4s;
  scroll-behavior: smooth;
}
.header-btns .header-black-btn {
  background-color: #000;
  transition: 0.4s;
  border: none;
}
.header-btns .header-black-btn:hover {
  background-color: #ffff;
  color: #000;
  border: 2px solid #000;
}
.header-btns .header-orange-btn:hover {
  box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.27);
}
.header-img {
  flex: 1.6;

  margin: 0 auto;
}
.header-img img {
  width: 100%;
}

/* home-header css end */

/* home-book-box css start */

.home-book-container {
  background: linear-gradient(180deg, #f8f8f8 60%, #fff 90%);
  padding-bottom: 100px;
  position: relative;
}
.home-book-box {
  width: 85%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(https://car-rental-ten.vercel.app/static/media/book-bg.6f629a1041e9fd9c6685.png);
  background-repeat: no-repeat;
}
@media (max-width: 850px) {
  .home-book-box {
    justify-content: center;
    align-items: center;
  }
  .book-boxs {
    justify-content: center;
  }
}
.home-book-box h2 {
  padding-left: 10px;
}
.book-boxs {
  display: flex;
  flex-wrap: wrap;
}
.book-box {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.book-text {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-bottom: 5px;
}
.book-box .book-btn {
  padding: 16px 0;
  margin-top: 32px;
  margin-left: 10px;
  background-color: #ff4d30;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  transition: 0.4s;
  cursor: pointer;
  min-width: 300px;
}
.book-box .book-btn:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
}
.button {
  padding-top: 5px;
}

/* home-book-box css end*/

/* book-open-page css start */

.book-open-page {
  background-color: #ffffffff;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  width: 55%; /* Need a specific value to work */
  height: 100vh;
  z-index: 999;
  top: 0;
  pointer-events: stroke;
  display: flex;
  flex-direction: column;
}
.book-open-page .header {
  background-color: #ff4d30;
  padding: 15px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  font-size: 23px;
  font-weight: 700;
  border: 2px solid white;
}
.book-open-page .header button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.book-open-page .width-80 .text {
  background-color: #ffeae6;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-open-page .width-80 .text .orange-text {
  color: #ff4d30;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  gap: 5px;
}
.book-open-page .width-80 .text .low-opa-text {
  font-size: 19px;
  opacity: 0.6;
  font-weight: 400;
  line-height: 28px;
}
.book-open-page .width-80 .car-info {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.book-open-page .width-80 .car-info .right-side {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.book-open-page .width-80 .car-info .right-side img {
  height: auto;
  width: 100%;
  min-width: 200px;
  background: transparent;
  object-fit: cover;
}
@media (max-width: 650px) {
  .book-open-page .width-80 .car-info {
    flex-direction: column;
    align-items: center;
  }
  .book-open-page .width-80 .car-info .right-side {
    align-items: center;
  }
  .book-open-page .width-80 .car-info .right-side img {
    min-width: 100%;
  }
  .book-open-page .width-80 .car-info .left-side-info > h2 {
    padding-left: 50px;
  }
}
@media (max-width: 820px) {
  .book-open-page {
    width: 100%;
  }
}
.book-open-page .width-80 .car-info .right-side h3 span {
  color: #ff4d30;
}
.book-open-page .width-80 .car-info .left-side-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 33%;
}
.book-open-page .width-80 .car-info .left-side-info > h2 {
  color: #ff4d30;
  font-size: 18px;
}
.book-open-page .width-80 .car-info .left-side-info .left-side-info-box {
  display: flex;
  flex-direction: column;
}
@media (max-width: 650px) {
  .personal-info .personal-info-box {
    flex-direction: column;
    width: 100% !important;
  }
  .personal-info .personal-info-box .info-box {
    width: 100% !important;
  }
  .personal-info .big input {
    min-width: 100% !important;
  }
}
.book-open-page .width-80 .car-info .left-side-info .left-side-info-box p {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 8px;
}
.book-open-page
  .width-80
  .car-info
  .left-side-info
  .left-side-info-box
  .time-picker
  p {
  padding-left: 30px;
  padding-top: 3px;
  font-weight: 400;
  opacity: 0.6;
}
.personal-info {
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}
.personal-info > h2 {
  color: #ff4d30;
}
.personal-info .personal-info-box {
  display: flex;
  gap: 15px;
}
.personal-info .personal-info-box .info-box p span {
  color: #ff4d30;
}
.personal-info .personal-info-box .info-box > p {
  display: flex;
  gap: 5px;
}
.personal-info .personal-info-box .info-box {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;

  opacity: 0.8;
}
.personal-info .personal-info-box .info-box p:nth-child(3) {
  font-size: 11px;
}

.personal-info .personal-info-box .info-box input {
  width: 100%;
  height: 45px;
  padding-left: 13px;
  background-color: #dbdbdb;
  border: none;
}
.personal-info .big-box {
  width: 100%;
}
.personal-info .big input {
  width: 204.2% !important;
}
@media (max-width: 650px) {
  .personal-info .big input {
    width: 100% !important;
  }
}
.reserve-box {
  background-color: #dbdbdb;
  padding: 35px 35px;
  display: flex;
  justify-content: flex-end;
}
.latest-box {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.reserve-box button {
  width: 25%;
  border: 1px solid yellow;
  background-color: #ff4d30;
  color: white;
  font-size: 23px;
  font-weight: 700;
  padding: 15px 0;
  cursor: pointer;
}
@media (max-width: 455px) {
  .reserve-box button {
    font-size: 16px;
  }
}
.reserve-box button:hover {
  background-color: #fe3516;
}
/* book-open-page css end */

/* three-box-container css start */

.three-box {
  width: 85%;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 170px;
}
.three-box > h3 {
  font-size: 25px;
  font-weight: 500;
}
.three-box > h1 {
  font-size: 43px;
  font-weight: 700;
}
.three-box .three {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 50px;
}
@media (max-width: 600px) {
  .three-box .three {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .three-box .three .box {
    width: 100% !important;
  }
}

.three-box .three .box {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.three-box .three .box > h4 {
  font-size: 25px;
  font-weight: 600;
}
.three-box .three .box > p {
  opacity: 0.7;
  line-height: 24px;
}
.three-box .three .box img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

/* three-box-container css end */

/* vehicle-models-container css start */

.vehicle-models-box {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 150px;
}
.vehicle-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  margin: auto;
}
@media (max-width: 1100px) {
  .vehicle-bottom {
    flex-direction: column;
    gap: 30px;
  }
  .vehicle-bottom .buttons {
    width: 80% !important;
  }
}
@media (max-width: 620px) {
  .vehicle-models-box .vehicle-text {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .vehicle-bottom .vehicle-img img {
    width: 100% !important;
  }
}
.vehicle-text > h3 {
  font-size: 26px;
  font-weight: 500;
}
.vehicle-text > h1 {
  font-size: 40px;
}
.vehicle-text > p {
  line-height: 25px;
  opacity: 0.6;
}
.vehicle-bottom {
  display: flex;
  align-items: center;
}
.vehicle-bottom .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 22%;
}

.vehicle-bottom .buttons button {
  height: 60px;
  background-color: #e9e9e9;
  border: none;
  transition: 0.25s;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
  min-width: 250px;
  font-size: 20px;
  font-weight: 600;
}
.vehicle-bottom .buttons button:hover {
  background-color: #ff4d30;
  color: white;
}
.vehicle-bottom .vehicle-img {
  flex-basis: 60%;
  text-align: center;
}

.change-orange {
  background-color: #ff4d30 !important;
  color: white;
}
.vehicle-bottom .car-info {
  flex-basis: 20%;
}
.car-info-box {
  display: flex;
  flex-direction: column;
}
.car-info-box .info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #706f7b;
  border-bottom: none;
}
.car-info-box .first {
  border-top: none;
}
.car-info-box .last {
  border-bottom: 2px solid #706f7b;
}
.car-info-boxs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.car-info-boxs button {
  height: 50px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  background-color: #ff4d30;
  border: none;
  cursor: pointer;
}
.car-info-boxs button:hover {
  box-shadow: 6px 6px 0 #efe9e9;
}

.car-info-box .header {
  background-color: #ff4d30;
  padding: 7px 22.5px;
  color: white;
  display: flex;
  align-items: center;
}
.car-info-box .header > b {
  font-size: 30px;
  padding-right: 10px;
}
.car-info-box .header > h4 {
  font-size: 17px;
}
.car-info-box .info hr {
  border: 1px solid black;
}
.car-info-box .info p {
  text-align: center;
  width: 100px;
}

/* vehicle-models-container css end */

/* big-car-container css star */

.big-car-imgs {
  width: 85%;
  margin: auto;

  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 40px;
}
.big-car-imgs .info-box {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-left: 30px;
}
.big-car-imgs .info-box .text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 400px;
}
.big-car-imgs .info-box .text > h5 {
  font-size: 25px;
  font-weight: 500;
}

.big-car-imgs .info-box .text > h2 {
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 1300px) {
  .big-car-imgs .info-box {
    flex-direction: column;
    gap: 70px;
  }
  .big-car-imgs .info-box .text {
    min-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .big-car-imgs .info-box .circle-imgs {
    min-width: 100% !important;

    justify-content: flex-start !important;
    align-self: center !important;
    margin-right: 90px;
  }
  .big-car-imgs .info-box .circle-imgs .circle-box .circle-box-text {
    min-width: 80% !important;
  }
}
@media (min-width: 500px) {
  .big-car-imgs .info-box .circle-imgs .circle-box .circle-box-text {
    min-width: 100% !important;
  }
}
.big-car-imgs .info-box .text > p {
  line-height: 25px;
  opacity: 0.6;
}
.big-car-imgs .info-box .text button {
  width: 170px;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 9px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}
.big-car-imgs .info-box .text button:hover {
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
}
.big-car-imgs .info-box .circle-imgs {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.big-car-imgs .info-box .circle-imgs .circle-box {
  display: flex;
  width: 85%;
  margin: auto;
  align-items: center;
  gap: 10px;
}
.big-car-imgs .info-box .circle-imgs .circle-box .circle-box-text p {
  width: 70% !important;
}
.big-car-imgs .info-box .circle-imgs .circle-box .circle-box-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.big-car-background {
  background-image: url(https://car-rental-ten.vercel.app/static/media/bg.82b3bf0dc76cd35f3da0.png);
  background-repeat: no-repeat;
  background-position: -250px 350px;
  background-size: cover;
}
.big-car-imgs > img {
  width: 90%;
  object-fit: cover;
  margin: auto;
}
.big-car-header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  padding: 57px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.big-car-header > h1 {
  font-size: 56px;
}
@media (max-width: 500px) {
  .big-car-header > h1 {
    font-size: 40px;
  }
  .big-car-header > h4 {
    font-size: 25px;
  }
}
.big-car-header > h4 {
  font-size: 26px;
  font-weight: 400;
}
.big-car-header > h4 span {
  color: #ff4d30;
}

/* big-car-container css end */

/* testimonials-container css start */
.testi-container {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.testi-box {
  width: 75%;
  margin: auto;
}
.testi-box .testi-text {
  text-align: center;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: auto;
}
.testi-box .testi-text > h4 {
  font-size: 24px;
  font-weight: 500;
}
.testi-box .testi-text > h2 {
  font-size: 42.5px;
  font-weight: 700;
}
.testi-box .testi-text > p {
  line-height: 23px;
  opacity: 0.6;
}
@media (max-width: 400px) {
  .testi-box .testi-text > h2 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .testi-box .testi-text {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .testi-box .testi-text > h2 {
    font-size: 35px;
  }
}
.testi-box .testi-comments {
  display: flex;
  gap: 20px;
}
.testi-box .testi-comments .comment-box {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}
.testi-box .testi-comments .comment-box > p {
  font-size: 23px;
  font-weight: 500;
  opacity: 0.9;
  line-height: 33px;
  padding-bottom: 30px;
  width: 90%;
}
.testi-box .testi-comments .comment-box .comment-avatar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .testi-box .testi-comments .comment-box {
    width: 100% !important;
  }
  .testi-box {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .testi-box .testi-comments {
    flex-direction: column;
  }
}
.testi-box .testi-comments .comment-box .comment-avatar .stack .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.testi-box .testi-comments .comment-box .comment-avatar .stack .name > h5 {
  font-size: 19px;
}
/* testimonials-container css end */

/* faq-container css start */
.faq-container {
  background-image: url(https://car-rental-ten.vercel.app/static/media/car.5e21eedbea3280311aff.png);
  background-position: 0 70%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 120px 0;
}
.faq-box {
  width: 52.5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.faq-box .faq-texts {
  padding-bottom: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq-box .faq-texts > h4 {
  font-size: 23px;
}
.faq-box .faq-texts > h1 {
  font-size: 40px;
  padding-bottom: 5px;
}
.faq-box .faq-texts > p {
  opacity: 0.6;
  line-height: 24px;
}
.outside-box {
  background-color: #ffffff !important;
  height: 70px !important;
  border: none !important;
}
@media (max-width: 750px) {
  .faq-box {
    width: 90% !important;
  }
}
.outside-box:hover {
  background-color: #ff4d30 !important;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35) !important;
  color: white !important;
}
.text {
  color: #000 !important;
  font-size: 19px !important;
  font-weight: 600 !important;
  opacity: 0.8 !important;
}

.text2 {
  opacity: 0.8;
  font-size: 18px;
  padding: 10px 20px;
  line-height: 27px !important;
}
/* faq-container css end */

/* download-container css start */

.download-container {
  background-color: #f8f8f8;
  background-image: url(https://car-rental-ten.vercel.app/static/media/bg02.3efbc4567749d0a5671e.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 6.5rem 0;
  width: 100%;
}

.download-box {
  width: 85%;
  margin: auto;
}
.download-box .down-texts {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.download-box .down-texts > h2 {
  font-size: 42px;
  font-weight: 700;
}
.download-box .down-texts > p {
  line-height: 25px;
  opacity: 0.7;
}
.app-store {
  display: flex;
  gap: 25px;
}
.app-store img {
  cursor: pointer;
}
@media (max-width: 900px) {
  .download-container {
    background-image: none;
  }
  .download-box .down-texts {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 510px) {
  .app-store img {
    width: 45%;
    cursor: pointer;
  }
}
/* download-container css end */

/* footer-container css start */
.banner2-box {
  position: relative;
  text-align: center;
  color: white;
}
.banner2-box img {
  opacity: 0.8;
  width: 100%;
}
.banner2-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banner2-text h2 {
  font-size: 33px;
  opacity: 1.2;
}
@media (max-width: 1000px) {
  .banner2-text h2 {
    font-size: 25px;
  }
}
@media (max-width: 620px) {
  .banner2-text h2 {
    font-size: 10px;
  }
}
.banner2-text :nth-child(2) {
  color: #ff4d30;
}
.footer-box {
  padding: 100px 0;
  width: 85%;
  margin: auto;
  display: flex;

  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 1120px) {
  .footer-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .footer-box .first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-box .box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-box .box h2 {
  font-size: 25px;
}
.footer-box .first > p {
  line-height: 25px;
  opacity: 0.6;
  font-weight: 400;
}
.footer-box .first .numbers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-box .first .numbers p {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}

.footer-box .first .numbers p:hover {
  color: #fe3516;
}
.footer-box .first .numbers p:nth-child(3) {
  font-weight: 400;
  cursor: default;
}
.footer-box .first .numbers p:nth-child(3) span {
  color: #fa4226;
  cursor: pointer;
}
.footer-box .first .numbers p:nth-child(3):hover {
  color: black;
}
@media (max-width: 1100px) {
  .box {
    text-align: center;
  }
}
.last input {
  background-color: #ececec;
  border-color: transparent;
  border-width: 1px;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 1rem;
  outline: none;
  padding: 10px 60px;
}
.last button {
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.25);
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  width: 100%;
}
.last button:hover {
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.4);
}
/* footer-container css end */

.header {
  position: relative;
  text-align: center;
  color: white;
}
.header img {
  opacity: 0.1;
  width: 100%;
}
.header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  flex-direction: column;
  width: 85%;
  text-align: start;
  gap: 10px;
}
.header .text h1 {
  font-size: 35px;
}
.header .text h2 {
  font-size: 20px;
  font-weight: 400;
}

/* about css start */
.about-header-box {
  padding: 100px 0;
  width: 65%;
  margin: auto;
  display: flex;
  gap: 50px;
}
.about-header-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .about-header-box {
    flex-direction: column;
  }
  .about-header-box .right-side {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about-header-box .right-side .about-three-box {
    flex-direction: column;
    gap: 30px;
  }
}
.about-header-box .right-side {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.about-header-box .right-side .about-three-box {
  display: flex;
  justify-content: space-between;
}
.about-header-box .right-side .about-three-box .about-box img {
  width: 80px;
}
.about-header-box .right-side > h3 {
  font-size: 30px;
  font-weight: 500;
}
.about-header-box .right-side > h1 {
  font-size: 43px;
}
.about-header-box .right-side > p {
  opacity: 0.6;
  line-height: 25px;
}

/* about css end */

/* our team css start */
.worker-card-box {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px 0;
  justify-content: center;
}
.worker-card-box .worker-box {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 1px 11px 12px 5px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 11px 12px 5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 11px 12px 5px rgba(0, 0, 0, 0.57);
}
.worker-card-box .worker-box img {
  background-color: #e9e9e9;
}
.worker-card-box .worker-box h1 {
  font-size: 25px;
  padding-top: 20px;
}
.worker-card-box .worker-box p {
  opacity: 0.7;
  padding-bottom: 30px;
}
/* our team css end */

/* carCard css start */
.car-card {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 100px 0;
}
.card-box {
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-box .go-home {
  text-align: center;
  padding: 30px 0;
}
.card-box .go-home a {
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  cursor: pointer;
  font-size: 1.7rem;
  text-align: center;
  padding: 15px;
  transition: all 0.3s;
  color: white;
  width: 82% !important;
  margin: auto;
  display: block;
}
.card-box hr {
  width: 80%;
  margin: auto;
}
.card-box > img {
  width: 350px;
  object-fit: cover;
  padding-bottom: 30px;
}
.card-box .boxz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  margin: auto;
}

/* carCard css end */

/* contact box css start */

.contact-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.contact-box .contact-text {
  flex-basis: 33%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-box .contact-text > h1 {
  font-size: 45px;
}
.contact-box .contact-text > p {
  opacity: 0.6;
}
.contact-box .contact-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-box .contact-icons h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.contact-box .form-box {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.contact-box .form-box input {
  width: 100% !important;
  height: 50px;
  background: #f2f2f2;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  text-decoration: none;
}
.contact-box .form-box .input-area {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-box .form-box .text-area textarea {
  height: 150px;
  background: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: 300;
  padding-left: 10px;
  outline: none;
  text-decoration: none;
}
.form-box button {
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px !important;
  transition: all 0.3s;
}
@media (max-width: 720px) {
  .contact-box {
    flex-direction: column;
    gap: 50px;
  }
}
/* contact box css end */
